<mat-sidenav-container>
  <mat-sidenav #menuLateral>
    <mat-nav-list>
      <a mat-list-item routerLink="/" (click)="menuLateral.close()">Home</a>
      <a mat-list-item routerLink="/clientes" (click)="menuLateral.close()">Clientes</a>
      <a mat-list-item routerLink="/transportistas" (click)="menuLateral.close()">Transportistas</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div fxLayout fxLayoutAlign="space-between" fxLayoutAlign.gt-xs="end" class="contenedor">

        <button mat-icon-button (click)="menuLateral.toggle()" fxHide.gt-xs>
          <mat-icon>menu</mat-icon>
        </button>

        <ul fxHide.lt-sm>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/clientes">Clientes</a></li>
          <li><a [routerLink]="['/transportistas']">Transportistas</a></li>
        </ul>

      </div>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
